<div id="alerts">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>New Update!</strong>
        Check out my new tool
        <a href="https://mattw.io/youtube-metadata/bulk" target="_blank">YouTube Metadata Bulk</a>
        to inspect the metadata of multiple videos, playlist's videos, or channel's public videos at once. For example, You can enter a YouTube channel URL and get the following information of the list of videos on that channel: view count, likes, dislikes, geotags if any , length of each video, number of comments of each video, number of tags of each video, publication date 
    </div>
</div>
